@model Model.EF.Footer
    <div>
    <div class="grid__item footer_promotion">
        <div class="wrapper">
            <div class="row">
                <div class="box-apreassurances">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 column">
                        <div class="reassurances-left">
                            <span class="name-icon pull-left fa fa-truck fa-3x"></span>
                            <div class="description media-body">
                                <h4>GIAO HÀNG MIỄN PHÍ</h4><p>
                                    TP.HCM : ĐH trên 600.000đ<br>
                                    Toàn quốc : <a rel="nofollow" title="Chính sách vận chuyển" target="_blank" href="https://ifitness.vn/pages/giao-hang-doi-hang">Xem tại đây</a>
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 column">
                        <div class="reassurances-left">
                            <span class="name-icon pull-left fa fa-gift fa-3x"></span>
                            <div class="description media-body">
                                <h4>QUÀ TẶNG HẤP DẪN</h4><p>Nhiều quà tặng và khuyến mãi hấp dẫn</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 column">
                        <div class="reassurances-left">
                            <span class="name-icon pull-left fa fa-thumbs-o-up fa-3x"></span>
                            <div class="description media-body">
                                <h4>UY TÍN &amp; CHẤT LƯỢNG</h4><p>
                                    100% sản phẩm chính hãng
                                    Thanh toán khi nhận hàng
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 column">
                        <div class="reassurances-left">
                            <span class="name-icon pull-left fa fa-life-ring fa-3x"></span>
                            <div class="description media-body">
                                <h4>HỖ TRỢ KHÁCH HÀNG</h4><p><strong style="color:#fbae40;">Hotline: (028) 3.99.75.999</strong><br>Thứ 2 - Thứ 7: 8g00 đến 18g00</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div></div>


    <div class="footer_content">
        <div class="about">
            <h3 class="adm">Theo dõi chúng tôi</h3>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, accusamus.</p>
            <p>Lorem ipsum dolor sit amet consectetur.</p> -->
            <div class="button_social">
                <button type="button" class="btn1">
                    <i class="fa fa-facebook"></i>
                </button>
                <button type="button" class="btn1">
                    <i class="fa fa-google-plus"></i>
                </button>
                <button type="button" class="btn1">
                    <i class="fa fa-twitter"></i>
                </button>
            </div>

        </div>
        <div class="working">
            <h3 class="adm">Hợp tác liên kết</h3>
            <ul class="navmenu  navmenu-depth-1  " aria-label="Hợp tác &amp; Liên kết">

                <li class="navmenu-item navmenu-id-dang-ki-lam-d-i-ly">
                    <a class="navmenu-link " href="#">
                        Đăng kí làm đại lý
                    </a>
                </li>
                <li class="navmenu-item navmenu-id-m-i-chao-s-n-ph-m">
                    <a class="navmenu-link " href="">
                        Mời chào sản phẩm
                    </a>
                </li>
                <li class="navmenu-item navmenu-id-gi-i-thi-u-v-thegioiwhey">
                    <a class="navmenu-link " href="/gioi-thieu">
                        Giới thiệu về WheyStore
                    </a>
                </li>
                <li class="navmenu-item navmenu-id-lien-h">
                    <a class="navmenu-link " href="/lien-he">
                        Liên hệ
                    </a>
                </li>


            </ul>

        </div>

        <div class="sub">
            <h3 class="adm">Chi nhánh</h3>
            <div class="site-footer-block-content rte">
                <p> Hồ Chí Minh - 028 9999 9479</p>
                <p class="avc" style="color:white"> 3  Khu phố 6, P.Linh Trung, Q.Thủ Đức, Tp.Hồ Chí Minh.</p>
            </div>

        </div>
        <div class="sub">
            <h2 class="adm"> Tự hào</h2>
            <p>Luôn luôn đem lại cho bạn sự trải nghiệm tốt nhất về sản phẩm. chất lượng, giá cả và dịch vu tuyệt hảo.</p>

        </div>

    </div>
    <div class="copyright">
        <div class="container">
            <p class="pull-left" style="color:white">Privacy policy. (&copy;) 2019 </p>
            <p class="pull-right pay-options">
                <a href="/" ref="nofollow"><img src="/assets/client/images/payment.png" alt="" /></a>
            </p>
            <div class="clearfix"></div>
        </div> <!-- .container -->
    </div> <!-- .copyright -->
    <style>
        .footer_promotion {
            padding: 30px 2px 20px 26px;
        }
        .grid__item {
            float: left;
            min-height: 1px;
            vertical-align: top;
            width: 100%;
            position: relative;
            background: wheat;
        }

        .btn1 {
            height: 46px;
            width: 46px;
            color: white;
            background-color: transparent;
            margin-right: 20px;
            border: 1px solid white
        }

        .footer {
            background-color: #a00906;
        }

        .footer_content {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            color: #e17e18;
            margin: auto;
            width: 85%;
            padding: 50px 0;
            grid-gap: 2%;
        }

        .sub p:nth-child(1), .sub p:nth-child(2) {
            color: white;
            line-height: 30px;
            font-size: 15px;
            padding: 33px 0 0;
        }

        .button_social {
            padding-top: 30px;
        }

        .adm {
            margin-bottom: 20px;
            color: #e17e18;
            font-weight: 300;
        }

        .avc {
            padding: 10px 0;
        }

        .navmenu {
            margin-top: 60px;
            padding-bottom: 8px;
        }

        .navmenu-link {
            font-size: 16px;
            padding: 8px;
            color: white;
        }

            .navmenu-link:hover {
                color: brown;
            }
    </style>


