
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main class="site-main">


    <article class="site-page" data-template-page="">
        <header class="page-masthead">
            <h1 class="page-title" style="text-align:center; margin: 20px 0;color: brown">
                Giới Thiệu
            </h1>
        </header>

        <style>
            .site-main {
                width: 60%;
                margin: 50px auto;
                font-family: Verdana;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                box-sizing: inherit;
                -webkit-font-smoothing: antialiased;
                -webkit-tap-highlight-color: rgba(0,0,0,0);
                display: block;
                margin-top: 50px;
                margin-bottom: 50px;
            }

            .rte {
            }

            .site-main h2, .site-main h3 {
                margin: 32px 0 16px;
                color: brown;
            }

            .site-main p {
                margin: 16px 0;
                line-height: 1.625;
                font-size: 16px;
            }
        </style>
        <div class="page-content rte">
            <p><span style="font-weight: 400;">WheyStore - Kênh chuyên phân phối Thực Phẩm Thể Thao &amp; Phụ Kiện với nhiều sản phẩm được nhập khẩu 100% chính hãng, đến từ các thương hiệu uy tín hàng đầu trên thế giới. </span></p>
            <div style="text-align: center;"></div>
            <!-- <img src="//cdn.shopify.com/s/files/1/2105/8233/files/Logo_TGW_homepage_large.png?v=1552742635" alt="WheyStore"> -->
            <p><span style="font-weight: 400;">Chúng tôi đã và đang xây dựng một cộng đồng bao gồm những con người quan tâm đến sức khỏe, thể thao...Đây là nơi giao lưu, chia sẻ kiến thức về sức khỏe, thể hình, giúp cộng đồng gymer, người chơi thể thao có kiến thức lựa chọn sản phẩm bổ sung dinh dưỡng phù hợp để đạt được sức khỏe tốt và thể hình đẹp.</span></p>
            <h2><span style="font-weight: 400;">Sứ mệnh của WheyStore</span></h2>
            <p><span style="font-weight: 400;">Chia sẻ nhiều kiến thức hữu ích, xây dựng cộng đồng về lĩnh vực chăm sóc sức khỏe, làm đẹp miễn phí, giúp cho người có những kiến thức cơ bản, nền tảng quan trọng để tất cả có thể tự cải thiện sức khỏe, tự rèn luyện để có thể hình đẹp.</span></p>
            <p><span style="font-weight: 400;">Chuyên tư vấn và phân phối các sản phẩm, thực phẩm bổ sung dinh dưỡng thể thao được nhập từ những thương hiệu uy tín hàng đầu thế giới đến cộng đồng người Việt với tiêu chí chọn lọc khắt khe nhất.</span></p>
            <p><span style="font-weight: 400;">Ngoài ra, chúng tôi với trăn trở xây dựng blog WheyStore.com chuyên chia sẻ kiến thức nền tảng về sức khỏe, thể hình để tất cả mọi người có thêm thông tin hay, giúp khách hàng chủ động hơn trong việc lựa chọn sản phẩm phù hợp với mình.</span></p>
            <h2><span style="font-weight: 400;">5 Cam kết từ WheyStore đến khách hàng</span></h2>
            <h3><span style="font-weight: 400;">Sản phẩm chính hãng</span></h3>
            <p><span style="font-weight: 400;">Chúng tôi nhận thấy chất lượng sản phẩm luôn là vấn đề khách hàng quan hàng đầu, cũng là sự uy tín của Doanh Nghiệp, là niềm tin, sự tin tưởng của khách hàng. Vì thế, các sản phẩm được chúng tôi cân nhắc, lựa chọn kỹ càng. </span></p>
            <div style="text-align: center;"><img src="//cdn.shopify.com/s/files/1/2105/8233/files/cac-loai-whey-protein_ad6e9ae6-d49c-462a-9782-7f3726a0cbe9_large.PNG?v=1545983610" alt="Cam kết hàng chính hãng 100%"></div>
            <p><span style="font-weight: 400;">Những sản phẩm chúng tôi cung cấp đảm bảo 100% hàng chính hãng đến từ những thương hiệu uy tín, chất lượng hàng đầu thế giới.</span></p>
            <h3><span style="font-weight: 400;">Hỗ trợ tư vấn miễn phí</span></h3>
            <p><span style="font-weight: 400;">Việc lựa chọn sản phẩm khá quan trọng đối với khách hàng bởi sản phẩm phù hợp là yếu tố ảnh hưởng lớn đến sức khỏe cũng như để đạt được thể hình mong muốn. </span></p>
            <div style="text-align: center;"><img src="//cdn.shopify.com/s/files/1/2105/8233/files/the-vip_large.JPG?v=1554705795" alt="Thẻ VIP tại WheyStore"></div>
            <p><span style="font-weight: 400;">Với lý do đó, đội ngũ chuyên viên tư vấn của WheyStore luôn sẵn sàng hỗ trợ quý khách hàng. Chúng tôi luôn lắng nghe những thắc mắc, mong muốn của khách hàng để có thể giải đáp và lựa chọn sản phẩm phù hợp nhất với quý khách hàng.</span></p>
            <h3><span style="font-weight: 400;">Giá cả cạnh tranh</span></h3>
            <p><span style="font-weight: 400;">Qua nhiều năm hoạt động, chúng tôi được nhiều khách hàng đánh giá tốt về chất lượng dịch vụ và sản phẩm. Chúng tôi cũng tự tín là đơn vị phân phối sản phẩm có mức giá hợp lý với nhiều ưu đãi hấp dẫn hàng tháng.</span></p>
            <p style="text-align: center;"><span style="font-weight: 400;"><img src="//cdn.shopify.com/s/files/1/2105/8233/files/giamgiavip_5e06f9db-683a-4b77-ae01-72bc2435bfbd_large.png?v=1548781126" alt="Giá cả cạnh tranh"></span></p>
            <h3><span style="font-weight: 400;">Mua sắm nhanh chóng</span></h3>
            <p><span style="font-weight: 400;">WheyStore.com tự hàng là website hàng đầu trong ngành thực phẩm chức năng về thể thao tại Việt Nam. Website được đầu tư kỹ lưỡng, giao diện trực quan, nội dung hữu ích, chi tiết giúp quý khách hàng dễ nắm bắt thông tin sản phẩm.</span></p>
            <div style="text-align: center;"><img src="//cdn.shopify.com/s/files/1/2105/8233/files/freeshipvip_large.png?v=1548780975" alt="Mua hàng nhanh chóng"></div>
            <p><span style="font-weight: 400;">Quý khách dễ dàng mua sản phẩm bằng cách đặt hàng trực tuyến trên website.</span></p>
            <p><span style="font-weight: 400;">Ngoài ra, khách hàng có thể liên hệ qua hotline 0909.706510 để trực tiếp đặt hàng.</span></p>
            <p><span style="font-weight: 400;">Với vài bước cơ bản, chúng tôi tiếp nhận thông tin và vận chuyển toàn quốc, giao hàng tận tay cho quý khách.</span></p>
            <h3><span style="font-weight: 400;">Chính sách đổi trả linh hoạt</span></h3>
            <p><span style="font-weight: 400;">Chúng tôi luôn đặt lợi ích của khách hàng lên hàng đầu, chính vì thế mà chính sách đổi trả cũng tương đối lĩnh hoạt nhằm mục đích hỗ trợ khách hàng tốt nhất dựa trên điều khoản dịch vụ của chúng tôi. </span></p>
            <br>
            <p><b><i>WheyStore tự hào là đơn vị đem đến sự trải nghiệm tốt cho khách hàng, đảm bảo sản phẩm chính hãng, giá cả phù hợp.</i></b></p>
        </div>

    </article>

</main>


